.gitattributes
.gitignore
.github/
.idea
aws-task-definition.json
docker-compose.yml
predictive_model/lebel_encoder.json
predictive_model/model_training_pipeline.ipynb
predictive_model/model_utils/__init__
predictive_model/model_utils/__pycache__
predictive_model/model_utils/hyperparameter_optimization.py
predictive_model/model_utils/images_visualization.py
predictive_model/model_utils/load_dataset.py
predictive_model/model_utils/model_predictions.py
predictive_model/model_utils/model_quality.py
predictive_model/model_utils/model_training.py
predictive_model/plots
requirements.txt
scraping_dataset/__init__.py
scraping_dataset/__pycache__
scraping_dataset/create_dataset.py
scraping_dataset/dataset
scraping_dataset/image_scraper.py
venv
web_interface/__pycache__
web_interface/app/__pycache__
web_interface/app/static/img/*
